@page
@{
}


<style>
    table, th, td {
        border: 1px solid black;
        
    }
    td {
        margin: 0 2vw 0 2vw;
    }
</style>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Version</th>
        <th>Type</th>
        <th>Reorder</th>
        <th>On Hand</th>
        <th>Scheduled</th>
        <th>Order</th>
        <th>Units</th>
        <th>Cost per Unit</th>
        <th>Supplier</th>
        <th>Details</th>
    </tr>
</table>